.app-container {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 5% 20% auto;
	justify-items: center;
	align-items: center;
}

#light {
	background: url(../../public/bg-pattern.svg) rgb(250, 251, 255) no-repeat;
	background-size: 100% 55%;
}

#dark {
	background: url(../../public/bg-pattern-dark.svg) rgb(50, 51, 55) no-repeat;
	background-size: 100% 55%;
}

.circles {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.circles svg {
	text-align: center;
}

.circle1 {
	animation: circle1 infinite 10s linear;
}

.circle2 {
	animation: circle2 infinite 10s linear;
}

.text {
	display: grid;
	align-content: flex-end;
	height: 15vh;
	text-align: center;
	z-index: 1;
}

.main-text {
	font-weight: 800;
	font-size: 30px;
}

#light .main-text {
	color: rgb(41, 51, 86);
}

#dark .main-text {
	color: rgb(241, 251, 255);
}

.sub-text {
	font-weight: 600;
	font-size: 15px;
	color: rgb(133, 143, 173);
	margin-top: 20px;
}

#light .sub-text {
	color: rgb(133, 143, 173);
}

#dark .sub-text {
	color: rgb(255, 255, 255);
}

.theme-toggle {
	display: grid;
	justify-items: center;
	margin-top: 50px;
	cursor: pointer;
	font-size: 15px;
}

#light .theme-toggle {
	color: rgb(41, 51, 86);
}

#dark .theme-toggle {
	color: rgb(241, 251, 255);
}

.theme-toggle svg {
	width: 30px;
	height: 30px;
}

#light .theme-toggle svg path {
	fill: rgb(41, 51, 86);
}

#dark .theme-toggle svg path {
	fill: rgb(241, 251, 255);
}

@keyframes circle1 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes circle2 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.75);
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (max-width: 500px) {
	.text {
		height: 10vh;
	}
	.main-text {
		font-size: 25px;
	}
	.circles {
		top: 5%;
	}
	.theme-toggle {
		margin-bottom: 25px;
	}
	.theme-toggle svg {
		width: 25px;
		height: 25px;
	}
}
